# URL Supabase (Publik)
NEXT_PUBLIC_SUPABASE_URL=https://hctdfnwfigcjycemacif.supabase.co

# Anon Key Supabase (Publik)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjdGRmbndmaWdjanljZW1hY2lmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0NTgzODUsImV4cCI6MjA5NDAzNDM4NX0.rMZ2rjhb7THR4H5hRszI7USqFwrQC-gNUY8ttjHUKfw

# Service Role Key Supabase (Rahasia, hanya dibaca di Server-side / API Route)
# Digunakan untuk melewati policy RLS saat menghapus/mengubah pengguna
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjdGRmbndmaWdjanljZW1hY2lmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ1ODM4NSwiZXhwIjoyMDk0MDM0Mzg1fQ.iIkrzvfzOIKEuMIVROLDzHShrHIB7kAJKo5pQRB6kQc
